<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="formulario.css" />
    <title>Sistema de alunos</title>
  </head>
  <body>
    <div class="mae">
      <div class="filho1">
        <div class="login-box">
          <form
            action="/op
          "
            method="POST"
          >
            <input type="hidden" name="id" required="" />
            <div class="user-box">
              <input type="text" name="nome" required="" />
              <label>Digite seu nome</label>
            </div>
            <div class="user-box">
              <input type="date" name="date" />
              <label>Data</label>
            </div>
            <div class="user-box">
              <input type="text" name="materia" required="" />
              <label>Nome da materia</label>
            </div>
            <div class="user-box">
              <input type="text" name="atividade" required="" />
              <label>Atividade</label>
            </div>
            <div class="user-box">
              <input type="text" name="nota" required="" />
              <label>Nota</label>
            </div>
            <a>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <button type="submit" class="delete-btn">Salvar</button>
            </a>
            <a>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <button type="reset" class="delete-btn">Delete</button>
            </a>
            <a>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <button type="reset" class="delete-btn">Atualizar</button>
            </a>
          </form>
        </div>
      </div>
      <div class="filho2">
        <table class="tabela">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Data</th>
              <th>Materia</th>
              <th>Atividade</th>
              <th>Nota</th>
            </tr>
            <% Dados.forEach((e, index) =>{ %>
            <tr>
              <td>
                <form action="/del" method="POST">
                  <button class="btndelet" name="id" value="<%= e.id %>">
                    <img src="/img/cancelar.png" alt="" />
                  </button>
                </form>
              </td>
              <td><%= e.id %></td>
              <td><%= e.student %></td>
              <td><%= e.timestamp %></td>
              <td><%= e.subject %></td>
              <td><%= e.type %></td>
              <td><%= e.value %></td>
            </tr>
            <%}) %>
          </thead>
        </table>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
